/*
Developer:  Frankie Barrios
Date: 10/10/18
Purose: Implement a page that simulates 
a race between two or more competing players.
*/

body {
    background-image: url("College.png");
    background-position: center top;
}

img {
    height: 140px;
    width: 100px;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

#cDiv {
    position: absolute;
    top: 120px;
    left: 0px;
}

#gDiv {
    position: absolute;
    top: 270px;
    left: 0px;
}

#fDiv {
    position: absolute;
    top: 420px;
    left: 0px;
}

#pDiv {
    position: absolute;
    top: 570px;
    left: 0px;
}

#start {
    right: 50%;
}